!!!
%html
 %head
  %meta{'http-equiv'=>'content', :content=>'text/thml; charset=utf-8'}
  %meta{:name => "content-style-type", :content => "text/css"}
  = stylesheet_link_tag :all
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
  %meta{:name => "content-script-type", :content => "text/javascript"}
  = javascript_include_tag "jquery.min"
  = javascript_include_tag "jquery.websocket"
  = javascript_include_tag "jquery.desktopnotify"
 %body
  .message-list
  - if logged?
   - current_user.rooms.each do|room|
    :javascript
     $(function(){
         $.fn.desktopNotify({
             title: "AsakusaSatellite Background Notification",
             text : "watching: #{room.title}"
         });
         $(".message-list")
             .webSocket({ makeElement : function(){}, room : #{room.id} })
             .bind('websocket::create', function(_, message){
                 if(message.screen_name != "#{current_user.screen_name}") {
                     $.fn.desktopNotify({
                         picture: message.profile_image_url,
                         title: message.name,
                         text : (message.attachment != null ? message.attachment.filename : message.body)
                     });
                 }
             });
     });
