-# -*- coding: utf-8 -*-
.yield
 = render :partial => "shared/room_info", :locals => { :room => @room, :has_button => false }
 .configure
  =form_for :room, :url => {:action => :configure } do |form|
   =#submit_tag t(:update_config), :class => "submit red button large"
   %fieldset
    %legend= t(:input_room_name)
    =text_field :room, :title, {:class => :text, :autofocus => true, :placeholder => t(:input_new_room_name)}
   %fieldset

    %legend= t(:member)
    .members{:style => 'margin-left:20%;margin-right:20%;width:60%;float:left'}
     %table{:style => 'width:100%'}
      %tr
       %td{:style => 'width:80%'}
        =text_field_tag '', '', {:class => :text, :id => 'add-member-name', :placeholder => t(:member_name), :style => 'width:270px'}
       %td{:style => 'width:20%'}
        =button_to "Add", nil, {:id => 'add-member-button'}
       - @room.members.each_with_index do |member, i|
        %td
         = member.name
         =hidden_field :room, "members[#{i}]", {:class => 'member-hidden', :value => member.name}
        %td
         =button_to 'Remove', nil, {:class => 'delete-member-room'}
   %fieldset
    %legend= t(:plugins)
    %table.plugin-configure
     - @plugins.each do |message, params|
      %tr
       %td= message + ":"
       %td= link_to t(:config),params.merge(:id=> @room.id)
   =submit_tag t(:update_config), :class => "submit red button large"

= content_for :javascripts do
 :javascript
    $(function() {
      $('#add-member-button').bind('click', function(e) {
        var name = $('#add-member-name').val();
        if (name.length == 0) {
          return false;
        }
        var firstTr = $('#add-member-button').parent().parent().parent();
        $('<tr><td>'
          + name
          + '<input type="hidden" name="room[members[0]]", class = "member-hidden", value="' + name + '">'
          + '</td><td>'
          + '<input class="delete-member-button" type="submit" value="Remove"></td></tr>').insertAfter(firstTr);
        var i = 0;
        $('.member-hidden').each(function() {
          $(this).attr("name", "room[members[" + i++ + "]]");
        });
        $('#add-member-name').val('');
        return false;
      });
      $('.delete-member-button').live('click', function(e) {
        $(this).parent().parent().remove();
        return false;
      });
    });
