-# -*- coding: utf-8 -*-
.yield
 = render :partial => "shared/room_info", :locals => { :room => @room, :has_button => false }
 .configure
  =form_for :room, :url => {:action => :configure } do |form|
   =#submit_tag t(:update_config), :class => "submit red button large"
   %fieldset
    %legend= t(:input_room_name)
    =text_field :room, :title, {:class => :text, :autofocus => true, :placeholder => t(:input_new_room_name)}
   %fieldset
    %legend= t(:input_room_nickname)
    =text_field :room, :nickname, {:class => :text, :placeholder => t(:input_new_room_nickname)}

   - unless @room.is_public
    %fieldset
     %legend= t(:member)
     .members
      %ul
       - @members.each_with_index do |member, i|
        %li
         =hidden_field :room, "members[#{i}]", {:class => 'member-hidden', :value => member.screen_name}
         %img.profile-image{:src=>member.profile_image_url}
         %span.screen-name= member.screen_name
         %a.action.delete-member-button
          = image_tag "room_delete.png", :class => 'icon'
      .add-member
       =text_field_tag '', '', {:class => :text, :id => 'add-member-name', :placeholder => t(:member_name)}
       %input{:type=>'submit', :id => 'add-member-button', :value=> t(:add) }

   %fieldset
    %legend= t(:plugins)
    %table.plugin-configure
     - @plugins.each do |message, params|
      %tr
       %td= message + ":"
       %td= link_to t(:config), params.merge(:id => @room)
   =submit_tag t(:update_config), :class => "submit red button large"

= content_for :javascripts do
 :javascript
    $(function() {
      $('#add-member-button').bind('click', function(e) {
        var names = $('#add-member-name').val().split(" ").filter(function(u){return u != ""});
        for (var i = 0, nameLen = names.length; i < nameLen; i++) {
          var name = names[i];
          $('#add-member-name').val('');
          if( $(".screen-name").contents().filter(function(_,x){ return x.textContent == name }).length != 0) {
            return false;
          }
          var length = $('.members li').length;
  
          var html = '<li class="new">' +
                        '<input type="hidden" name="room[members[' + length + ']]" class="member-hidden" value="' + name + '">' +
                        '<span class="screen-name">' + name + '</span>' +
                        '<a class="action delete-member-button">#{image_tag "room_delete.png"}</a>' +
                     '</li>';
          $('.members ul').append($(html));
        }
        return false;
      });
      $(document).on('click', '.delete-member-button', function(e) {
        $(this).parent().remove();
        return false;
      });
    });
