-# -*- coding: utf-8 -*-
.yield
 %div.room-info
  %div
   .left
    %h3.title
     = @room.title
   .clear
  - unless @room.user.nil?
   %div.room-owner
    = t(:room_created_by) + " "
    %img.profile{:src => @room.user.profile_image_url, :alt => @room.user.screen_name}
    = @room.user.name
  %div.room-date
   = t(:created_at) + " " + l(@room.created_at)

 .configure
  =form_for :room, :url => {:action => :configure } do |form|
   =#submit_tag t(:update_config), :class => "submit red button large"
   %fieldset
    %legend= t(:input_room_name)
    =text_field :room, :title, {:class => :text, :autofocus => true, :placeholder => t(:input_new_room_name)}
   %fieldset
    %legend= t(:plugins)
    %table.plugin-configure
     - @plugins.each do |message, params|
      %tr
       %td= message + ":"
       %td= link_to t(:config),params.merge(:id=> @room.id)
   =submit_tag t(:update_config), :class => "submit red button large"
