-# -*- coding: utf-8 -*-
.yield
 = render :partial => "shared/room_info", :locals => { :room => @room, :has_button => false }
 .configure
  =form_for :room, :url => {:action => :configure } do |form|
   =#submit_tag t(:update_config), :class => "submit red button large"
   %fieldset
    %legend= t(:input_room_name)
    =text_field :room, :title, {:class => :text, :autofocus => true, :placeholder => t(:input_new_room_name)}
   %fieldset
    %legend= t(:plugins)
    %table.plugin-configure
     - @plugins.each do |message, params|
      %tr
       %td= message + ":"
       %td= link_to t(:config),params.merge(:id=> @room.id)
   =submit_tag t(:update_config), :class => "submit red button large"
