-# -*- coding: utf-8 -*-
%div.room-info
 %div
  .left
   %h3.title
    = link_to room.title, :controller=>:chat, :action=>:room, :id=>room.id

  - if has_button
   .right
    =image_tag('private.gif', :alt => t(:private_room), :title => t(:private_room)) unless room.is_public
    =image_tag("connection_fail.gif", :class => 'websocket-status', :alt => t(:websocket_status), :title => t(:websocket_status))
    - if logged?
     = link_to(image_tag("config.gif", :alt => t(:config), :title => t(:config)), :controller =>:room, :action=> :configure, :id=>room.id)
     = form_tag({:controller => :room, :action => :delete, :id => room}, {:onsubmit => "return confirm('#{t(:are_you_sure_you_want_to_delete_this_room)}');", :action => :post, :class => 'delete-form'}) do
      = image_submit_tag "room_delete.gif", :alt => t(:delete_this_room), :title => t(:delete_this_room)
  .clear
 - unless room.user.nil?
  %div.room-owner
   = t(:room_created_by) + " "
   %img.profile{:src => room.user.profile_for(room.id)[:profile_image_url], :alt => room.user.screen_name, :alt => room.user.screen_name}
   = room.user.profile_for(room.id)[:name]
 %div.room-date
  = t(:created_at) + " " + l(room.created_at)
 - unless room.is_public
  %div.room-members
   - room.members.each do |member|
    %img.profile{:src => member.profile_for(room.id)[:profile_image_url], :alt => member.screen_name, :title => member.screen_name}


