.message{:target => message.id }
 %p
  - unless message.user.profile_image_url.empty?
   %img.profile{:src => message.user.profile_image_url, :alt => message.user.screen_name}
  %span= message.user.name
  %span.update_time
   %a{:target => "_blank", :href => url_for(:action => 'show', :id => message.id) }= message.created_at
 - if current_user and message.user.screen_name == current_user.screen_name
  %div.body.on-the-spot{ :original => message.body, :id => message.id }
   != message.html_body
 - else
  %div.body
   != message.html_body
 - unless message.attachment.nil? || message.attachment.empty?
  %p.attachment
   %a{:target => "_blank", :href => "#{url_for(:action => 'index')}upload/#{message.attachment}" }
    - if image_mimetype?(message.mimetype)
     %img{:src => "#{url_for(:action => 'index')}upload/#{message.attachment}" }
    - else
     = message.filename
