.message{:target => message.id }
 %p
  - unless message.user.profile_image_url.empty?
   %img.profile{:src => message.user.profile_image_url, :alt => message.user.screen_name}
  %span= message.user.name
  %span.update_time
   %a{:href => message_url(:id => message.id) }= message.created_at
 - if current_user and message.user.screen_name == current_user.screen_name
  %div.body.on-the-spot{ :original => message.body, :id => message.id }
   :plain
    #{message.html_body}
 - else
  %div.body{ :id => message.id }
   :plain
     #{message.html_body}
 - unless message.attachment.nil?
  %p.attachment
   %a{:target => "_blank", :href => root_path + "upload/" + File.basename(message.attachment.disk_filename) }
    - if image_mimetype?(message.attachment.mimetype)
     %img{:src => root_path + "upload/" + File.basename(message.attachment.disk_filename)}
    - else
     = message.filename
