.message{:target => message.id }
 %p
  - unless message.user.profile_image_url.empty?
   %img.profile{:src => message.user.profile_image_url, :alt => message.user.screen_name}
  %span= message.user.name
  %span.update_time
   %a{:target => "_blank", :href => url_for(:action => 'show', :id => message.id) }= message.created_at
 %p.body
  - if current_user and message.user.screen_name == current_user.screen_name
   %span.on_the_spot_editing{:id=> message.id, :'title'=>' ', :'data-tooltip'=>' ', :'data-url'=>url_for(:controller => 'chat', :action => 'update_message_on_the_spot')}!= message.html_body
  - else
   %span!= message.html_body
 - unless message.attachment.nil? || message.attachment.empty?
  %p.attachment
   %a{:target => "_blank", :href => "#{url_for(:action => 'index')}upload/#{message.attachment}" }
    - if image_mimetype?(message.mimetype)
     %img{:src => "#{url_for(:action => 'index')}upload/#{message.attachment}" }
    - else
     = message.filename

