.message{:target => message.id }
 %div
  - unless message.user.profile_image_url.empty?
   %img.profile{:src => message.user.profile_image_url, :alt => message.user.screen_name}
  .user-name= message.user.name
  .update-time
   %a{:href => message_url(:id => message.id, :only_path=>true) }= l(message.created_at)
   %span.edit-icons
    =link_to image_tag("page_edit.gif"), "TODO", {:onclick => "javascript:alert('edit!');return false;", :alt => t(:edit_this_message), :title => t(:edit_this_message)}
    = form_tag("TODO", {:onsubmit => "return confirm('#{t(:are_you_sure_you_want_to_delete_this_message)}');", :action => :post, :class => 'delete-form'}) do
     = image_submit_tag "page_cross.gif", :alt => t(:delete_this_message), :title => t(:delete_this_message)
 - if current_user and message.user.screen_name == current_user.screen_name
  %div.body.on-the-spot{ :original => message.body, :id => message.id }
   :plain
    #{message.html_body}
 - else
  %div.body{ :id => message.id }
   :plain
     #{message.html_body}
 - unless message.attachment.nil?
  %p.attachment
   %a{:target => "_blank", :href => root_path + "upload/" + File.basename(message.attachment.disk_filename) }
    - if image_mimetype?(message.attachment.mimetype)
     %img{:src => root_path + "upload/" + File.basename(message.attachment.disk_filename)}
    - else
     = message.filename
