.message{:target => id }
 %p
  - unless profile_image_url.empty?
   %img.profile{:src => profile_image_url, :alt => screen_name}
  %span= name
  %a{:target => "_blank", :href => url_for(:action => 'show', :id => id).gsub('%7Bid%7D','{id}') }permlink
  %span.update_time= created_at
 %p.body
  %span.on_the_spot_editing{:id=>id, :title=>'', :'title'=>' ', :'data-tooltip'=>' ', :'data-url'=>url_for(:controller => 'chat', :action => 'update_message_on_the_spot')}!= body
 - unless attachment.nil? || attachment.empty?
  %p.attachment
   %a{:target => "_blank", :href => "#{url_for(:action => 'index')}upload/#{attachment}" }
    %img{:src => "#{url_for(:action => 'index')}upload/#{attachment}" }

