.message{:target => id }
 %p
  - unless profile_image_url.empty?
   %img.profile{:src => profile_image_url, :alt => screen_name}
  %span= name
  %span.update_time= created_at
 %pre!= body
 - unless attachment.nil? || attachment.empty?
  %p.attachment
   %a{:href => "#{url_for(:action => 'index')}upload/#{attachment}" }
    %img{:src => "#{url_for(:action => 'index')}upload/#{attachment}" }

