-# -*- coding: utf-8 -*-
.yield
 %div.room-info
  %div
   .left
    %h3.title
     = @room.title
   .clear
  - unless @room.user.nil?
   %div.room-owner
    = t(:room_created_by) + " "
    %img.profile{:src => @room.user.profile_image_url, :alt => @room.user.screen_name}
    = @room.user.name
  %div.room-date
   = t(:created_at) + " " + l(@room.created_at)
 .configure
  = form_for :chat, :url => {:controller => :chat, :action => :message, :room_id => @room.id }, :html => {:class => :inputarea} do |f|
   =text_field_tag :message, '', :class => :text, :autofocus=>true, :placeholder=> t('placeholder_message')
   =submit_tag t(:send), :class => 'submit red button large', :id => 'send'
