-# -*- coding: utf-8 -*-
.yield
 %div.room-info
  %div
   .left
    %h3.title= on_the_spot_edit @room, :title
   .right
    =link_to image_tag("action_stop.gif"), {:controller => :room, :action => :delete, :id => @room}, |
        :onclick => "return confirm('Are you sure?');"
   .clear
  - unless @room.user.nil?
   %div.room-owner
    = t(:room_created_by) + " "
    %img.profile{:src => @room.user.profile_image_url, :alt => @room.user.screen_name}
    = @room.user.name
  %div.room-date
   = t(:created_at) + " " + l(@room.created_at)
 %div{:class => 'red button large', :id => 'read-more'}
  read more
 .message-list
  - @messages.reverse_each do |message|
   = render :partial => 'message', :locals => { |
    :id                => message.id, |
    :profile_image_url => message.user && message.user.profile_image_url, |
    :screen_name =>  message.user && message.user.screen_name, |
    :name =>  message.user.name, |
    :body => message.html_body, |
    :created_at => l(message.created_at), |
    :filename => message.attachment && message.attachment.filename, |
    :mimetype => message.attachment && message.attachment.mimetype, |
    :attachment => message.attachment && File.basename(message.attachment.disk_filename) }

 - if logged?
  .input
   = form_for :chat, :url => {:controller => :chat, :action => :message, :room_id => @room.id } do |f|
    =text_area_tag :message, '', :class => :text
    =submit_tag t(:send), :class => 'submit red button large', :id => 'send'
    =image_tag("connection_fail.gif", :class => 'websocket-status')

= content_for :javascripts do
 = javascript_include_tag :on_the_spot
 = javascript_include_tag 'jquery.dropUploader'
 = javascript_include_tag "jquery.websocket"
 = javascript_include_tag "jquery.multiline"
 = javascript_include_tag "jquery.scrollTo-min"
 = javascript_include_tag "jquery.tmpl.min"
 = javascript_include_tag "jquery.desktopnotify"
 - noAttachTempl = render :partial => 'message', :locals => { |
    :id                => '${id}', |
    :profile_image_url => '${profile_image_url}', |
    :screen_name => '${screen_name}', |
    :name => '${name}', |
    :created_at => '${created_at}', |
    :body => '{{html html_body}}', |
    :filename => '', |
    :mimetype => '', |
    :attachment => '' }
 - attachTempl = render :partial => 'message', :locals => { |
    :id                => '${id}', |
    :profile_image_url => '${profile_image_url}', |
    :screen_name => '${screen_name}', |
    :name => '${name}', |
    :created_at => '${created_at}', |
    :body => '{{html html_body}}', |
    :filename => '${attachment.filename}', |
    :mimetype => '${attachment.mimetype}', |
    :attachment => '${attachment.disk_filename}' }
 :javascript
  $(function() {
    // 表示時のメッセージ
    $.template( "noAttachTemplate", #{noAttachTempl.inspect} );
    $.template( "attachTemplate", #{attachTempl.inspect} );

    function scrollAfterImage(e){
      $(".attachment img", e).bind("load", function(){
        $(window).scrollTo( 'form', 0, { easing:'swing', queue:true, axis:'y' } );
      });
    }

    function makeElement(message){
      if(message.attachment){
       var dom = $.tmpl( "attachTemplate", message );
       scrollAfterImage(dom);
      }else{
       var dom = $.tmpl( "noAttachTemplate", message );
      }
      return dom;
    }

    $(".message-list").webSocket({ makeElement : makeElement });

    // read more
    $('#read-more').bind('click',function(){
      $.getJSON(
        '#{url_for(:controller=>'api/v1/room', :action=>:show, :id=> @room.id, :format=>'json' )}',
        { 'offset' : $('.message-list').children('.message').size() + 1 },
        function(xs){
          var ys = $(xs).map(function(){ return makeElement(this)[0]; });
          ys.hide();
          $('.message-list').prepend(ys);
          ys.fadeIn();
        })
    });

    // メッセージの送信
    $('textarea#message').multiline();
    $(".message-list").bind('websocket::connect', function(_, ws){
      $('form').bind('submit', function(e){
        e.stopPropagation();
        e.preventDefault();
        jQuery.post(
         '#{url_for(:controller=>'api/v1/message', :action=>'create')}',
         { 'room_id' : '#{@room.id}',
           'message' : $('textarea#message').val()});
        $('textarea#message').val('');
      });
    });

    // WebSocket接続状況の表示
    $(".message-list").bind('websocket::connect', function(){
      $("img.websocket-status").attr('src', '#{image_path('connection.gif')}');
    });
    $(".message-list").bind('websocket::error', function(){
      $("img.websocket-status").attr('src', '#{image_path('connection_fail.gif')}');
    });

    // 表示後スクロール
    $(".message-list").bind('websocket::create', function(){
      $(window).scrollTo( 'form', 500, { easing:'swing', queue:true, axis:'y' } );
    });
    $(window).scrollTo( 'form', 500, { easing:'swing', queue:true, axis:'y' } );
    scrollAfterImage($(".message-list"))
    $("textarea.text")[0].focus();

    // 通知
    $(".message-list").bind('websocket::create', function(_, message){
      if(message.screen_name != "#{current_user.nil? ? '' : current_user.screen_name}") {
        $.fn.desktopNotify({
            picture: message.profile_image_url,
            title: message.name,
            text : message.body
        });
      }
    });
    $('#send').desktopNotifyAddPermission();

    uploadConfig = {
      action : "#{url_for(:controller => 'chat', :action => 'message')}",
      params : [{ room_id : '#{@room.id}'},
                 { authenticity_token: '#{ form_authenticity_token }'}],
      onProgress : function(value){
          console.log(value);
      },
      onPartialError : function(){
      },
      onComplete : function(){
      }
    };
    $('.message-list').dropUploader(uploadConfig);
    $('#message').dropUploader(uploadConfig);
  });

