= javascript_include_tag :on_the_spot
.yield
 %h3.title
  = on_the_spot_edit @room, :title
  = t(:room_created_by) + " " + @room.user.name unless @room.user.nil?
 .message-list
  = @messages.each do |message|
   .message{:target => message.id}
    %p
     - if message.user
      %img{:src => message.user.profile_image_url, :alt => message.user.screen_name}
     %span= message.user.name if message.user
    %p= message.body

 - if logged?
  .input
   = form_for :chat, :url => {:controller => :chat, :action => :message, :room_id => @room.id } do |f|
    =text_field_tag :message, '', :class => :text
    =submit_tag t(:send), :class => 'submit red button large', :id => 'send'
  %div
   %img.connection-status
= content_for :javascripts do
 = javascript_include_tag "room"
 = javascript_include_tag "jquery.desktopnotify"
 :javascript
  $(function() {
    $(".message-list").recvMessage({
      entry: "ws://" + location.hostname + ":#{WebsocketConfig.websocketPort}",
      success_icon : '#{image_path('connection.gif')}',
      fail_icon    : '#{image_path('connection_fail.gif')}',
      onCreate : function(message) {
        $.fn.desktopNotify({
          picture: message.profile_image_url,
          title: message.name,
          text : message.body
        })
      }
    });
    $("form").sendMessage({
      'room_id' : #{@room.id},
      entry : '#{url_for(:controller=>'api/v1/message', :action=>'create')}' })
    $('#send').desktopNotifyAddPermission();
  });

