-# -*- coding: utf-8 -*-
.chat_room_top= raw(call_hook(:chat_room_top, :room => @room))
.audio
 = audio_tag "sound.ogg", :id => :audio
.yield
 - cache [:roominfo, @room._id, current_user.nil?] do
  = render :partial => "shared/room_info", :locals => { :room => @room, :has_button => true }
  = render :partial => "search/search_form", :locals => {:advanced => false, :room => @room}
 %div{:id => 'read-more', :class => 'read-more' }
  read more
 .message-list
  - @messages.reverse_each do |message|
   = render :partial => 'message', :locals => { :message => message, :room => @room }
 - if logged?
  - cache [:inputfield, @room_id] do
   .input
    = form_for :chat, :url => {:controller => :chat, :action => :message, :room_id => @room.id }, :html => {:class => :inputarea} do |f|
     =text_area_tag :message, '', :class => :text, :autofocus=>true, :placeholder=> t('placeholder_message')
     =submit_tag t(:send), :class => 'submit red button large', :id => 'send'
.chat_room_bottom= raw(call_hook(:chat_room_bottom, :room => @room))
.droppable

= content_for :javascripts do
 - AsakusaSatellite::MessagePusher.jsFiles.each do|file|
  = javascript_include_tag file
 = javascript_include_tag "room"
 :javascript
  var AsakusaSatellite = {
    current : {
        user : "#{current_user && current_user.screen_name}",
        room : "#{@room.id}"
    },
    pusher    : #{AsakusaSatellite::MessagePusher.jsClass},
    form_auth : "#{form_authenticity_token}",
    url : {
        create  : "#{url_for(:controller=>'api/v1/message', :action=>'create')}",
        update  : "#{url_for(:action => 'update_message_on_the_spot')}",
        destroy : "#{url_for(:controller=>'api/v1/message', :action=>'destroy', :id => nil)}",
        message : "#{url_for(:controller => 'chat', :action => 'message')}",
        prev    : "#{url_for(:action => :prev)}"
    },
    t : {
        are_you_sure_you_want_to_delete_this_message : '#{t(:are_you_sure_you_want_to_delete_this_message)}'
    },
    resouces : {
        ajaxLoader : '#{image_tag("ajax-loader.gif")}',
        connect    : "#{image_path('connection.gif')}",
        disconnect : "#{image_path('connection_fail.gif')}"
    }
  }
