-# -*- coding: utf-8 -*-
.yield
 = render :partial => "shared/room_info", :locals => { :room => @room, :has_button => false }
 = form_for :chat, :url => {:action => :show, :id => @message.id },:html => {:method=>"GET", :class => "show-form" }  do |f|
  = t(:prev)
  =select_tag(:prev, options_for_select(@prev_options, @prev_size ))
  = t(:next)
  =select_tag(:next, options_for_select(@next_options, @next_size))
  =submit_tag t(:show), :class => 'submit red button large', :id => 'show'

 %div{:id => 'read-prev', :class => 'read-more' }
  read more
 .message-list
  - @prev.each do |message|
   = render :partial => 'message', :locals => { :message => message }
  = render :partial => 'message', :locals => { :message => @message, :cssclass => 'target' }
  - @next.each do |message|
   = render :partial => 'message', :locals => { :message => message }
 %div{:id => 'read-next', :class => 'read-more' }
  read more

= content_for :javascripts do
 = javascript_include_tag 'jquery.readmore'
 :javascript

  $(function() {
    $("#read-prev").readMore({
      id : function(){
        return $(".message").first().attr("target"); },
      container : ".message-list",
      content : ".message",
      url : "#{url_for(:action => :prev)}",
      indicator : #{image_tag('ajax-loader.gif').inspect}
    });

    $("#read-next").readMore({
      id : function(){ return $(".message").last().attr("target"); },
      container : ".message-list",
      content : ".message",
      url : "#{url_for(:action => :next)}",
      append : true,
      indicator : #{image_tag('ajax-loader.gif').inspect}
    });
  });
