-# -*- coding: utf-8 -*-
.yield
 = render :partial => "shared/room_info", :locals => { :room => @room, :has_button => false }
 = form_for :chat, :url => {:action => :show },:html => {:method=>"GET", :class => "show-form" }  do |f|
  = t(:prev)
  =hidden_field_tag("id", @message.id)
  =select_tag(:prev, options_for_select(@prev_options, @prev_size ))
  = t(:next)
  =select_tag(:next, options_for_select(@next_options, @next_size))
  =submit_tag t(:show), :class => 'submit red button large', :id => 'show'

 %div{:id => 'read-prev', :class => 'read-more' }
  read more
 .message-list
  - @prev.each do |message|
   = render :partial => 'message', :locals => { :message => message }
  = render :partial => 'message', :locals => { :message => @message, :cssclass => 'target' }
  - @next.each do |message|
   = render :partial => 'message', :locals => { :message => message }
 %div{:id => 'read-next', :class => 'read-more' }
  read more

= content_for :javascripts do
 = javascript_include_tag 'jquery.pagination'
 :javascript

  $(function() {
    $("#read-prev").pagination({
        current : function(){ return $(".message").first().attr("message-id"); },
        content : "div.message",
        append  : function(elem){ $(".message-list").prepend(elem); },
        url : "#{url_for(:action => :prev)}",
        indicator : #{image_tag('ajax-loader.gif').inspect}
    });

    $("#read-next").pagination({
        current : function(){ return $(".message").last().attr("message-id"); },
        content : "div.message",
        append  : function(elem){ $(".message-list").append(elem); },
        url : "#{url_for(:action => :next)}",
        indicator : #{image_tag('ajax-loader.gif').inspect}
    });
  });
