-# -*- coding: utf-8 -*-
.yield
 %div.room-info
  %div
   .left
    %h3.title
     = on_the_spot_edit @room, :title
     - unless @message.body.nil?
      \/ #{@message.user.name}: #{@message.body.each_char.to_a[0,10]}
   .right
    =link_to image_tag("action_stop.gif"), {:controller => :room, :action => :delete, :id => @room}, |
        :onclick => "return confirm('Are you sure?');"
   .clear
  - unless @room.user.nil?
   %div.room-owner
    = t(:room_created_by) + " "
    %img.profile{:src => @room.user.profile_image_url, :alt => @room.user.screen_name}
    = @room.user.name
  %div.room-date
   = t(:created_at) + " " + l(@room.created_at)
 %div{:id => 'read-prev', :class => 'read-more' }
  read more
 .message-list
  - @prev.each do |message|
   = render :partial => 'message', :locals => { :message => message }
  = render :partial => 'message', :locals => { :message => @message, :cssclass => 'target' }
  - @next.each do |message|
   = render :partial => 'message', :locals => { :message => message }
 %div{:id => 'read-next', :class => 'read-more' }
  read more

= content_for :javascripts do
 = javascript_include_tag 'jquery.readmore'
 :javascript

  $(function() {
    $("#read-prev").readMore({
      id : function(){
        return $(".message").first().attr("target"); },
      container : ".message-list",
      content : ".message",
      url : "#{url_for(:action => :prev)}",
      indicator : #{image_tag('ajax-loader.gif').inspect}
    });

    $("#read-next").readMore({
      id : function(){ return $(".message").last().attr("target"); },
      container : ".message-list",
      content : ".message",
      url : "#{url_for(:action => :next)}",
      append : true,
      indicator : #{image_tag('ajax-loader.gif').inspect}
    });
  });
