.yield
 =form_for :account, :url => {:controller => :account} do |form|
  %fieldset
   %legend= t(:your_secret_key)
   =text_field :account, :secret_key, :class => :text, :value => current_user.spell
   =submit_tag t(:generate), :class => "submit red button large"

 %fieldset
  %legend Desktop notification
  =submit_tag t(:desktop_notification_on), {:id => 'dn-button', :class => "submit red button large"}

 %fieldset
  %legend Registered Devices
  .devices{:style => 'margin-left:20%;margin-right:20%;width:60%;float:left'}
   %table{:style => 'width:100%'}
    - @devices.each do |device|
     %tr
      %td
       %span= device.device_name
      %td
       %span= device.name.slice(1,6)+"..."
      %td
       =button_to t(:remove), nil, {:class => 'delete-device-button', :name => "device_deleted[#{device.name}]"}

= content_for :javascripts do
 = javascript_include_tag "jquery.desktopnotify"
 :javascript
  $(function() {
    if (window.webkitNotifications && window.webkitNotifications.checkPermission() == 0) {
      $('#dn-button').attr("disabled", "disabled");
      $('#dn-button').addClass("gray");
    } else {
      $('#dn-button').desktopNotifyAddPermission();
    }
  });
