-# -*- coding: utf-8 -*-
.yield
 .about
  %h2= t(:versions)
  %table.version
   %tr
    %td.first= t(:application_name)
    %td= AsakusaSatellite::VERSION
   %tr
    %td.first= t(:ruby)
    %td= "#{RUBY_VERSION} (#{RUBY_PLATFORM})"
   %tr
    %td.first= t(:rails)
    %td= Rails::VERSION::STRING
   %tr
    %td.first= t(:mongodb)
    %td= Mongoid.database.connection.server_version.to_s
   %tr
    %td.first= t(:jquery)
    %td
     %span.jquery-version

= content_for :javascripts do
 :javascript
  $(function() {
   $(".jquery-version").text($.fn.jquery);
  });
