%fieldset
 %legend Your Profile
 %div
  %h3 Default Profile
  %img{:src => current_user.profile_image_url}
  %span #{current_user.name}

 %div
  - customized_room_ids = current_user.user_profiles.map(&:room_id)
  - customized_rooms = @rooms.select {|room| customized_room_ids.include?(room._id)}
  - default_rooms = @rooms.select {|room| not customized_room_ids.include?(room._id)}

  %div
   = form_for :account, :url => {:controller => :profile_setting, :action => :create} do
    .form-inline
     = select :new_room, :room_id, default_rooms.map{|room| [room.title, room._id]}
     = submit_tag t(:generate), :class => "submit red button middle"

  %div{:style => "margin-bottom: 50px;"}
   - customized_rooms.each do |room|
    = render :partial => "input", :locals => {:room => room}
