!!!
%html
 %head
  %meta{'http-equiv'=>'content', :content=>'text/thml; charset=utf-8'}
  %meta{:name => "content-style-type", :content => "text/css"}
  = stylesheet_link_tag :all
  %meta{:name => "content-script-type", :content => "text/javascript"}
  = javascript_include_tag :defaults
  = csrf_meta_tag
  %link{:rel=>"alternate", :type=>"application/rss+xml", :title=>"RSS", :href=>"?format=rss"}
  %title AsakusaSatellite
 %body
  .main
   .header
    = link_to image_tag("logo.png", :alt => 'AsakusaSatellite'), {:controller => :chat}
    .contextual
     = t(:welcome_maessage) if current_user
     = link_to current_user.name, :controller => :account, :action => :index if logged?
     = link_to t(:logout), :controller => 'login', :action => 'logout' if logged?
     = link_to t(:login), :controller => 'login', :action => 'oauth' unless logged?
   .content
    - if flash[:error]
     .error_message= flash[:error]
    = yield
   .footer
    %p Copyright (C) 2011 RAISIN. All rights reserved.

