!!!
%html
 %head
  %meta{'http-equiv'=>'content', :content=>'text/thml; charset=utf-8'}
  %meta{:name => "content-style-type", :content => "text/css"}
  = stylesheet_link_tag 'main', :cache => true
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
  %meta{:name => "content-script-type", :content => "text/javascript"}
  = javascript_include_tag "jquery.min"
  = javascript_include_tag "http://js.pusherapp.com/1.8/pusher.min.js"
  = javascript_include_tag :defaults
  = yield :javascripts
  = csrf_meta_tag
  %link{:rel=>"alternate", :type=>"application/rss+xml", :title=>"RSS", :href=>"?format=rss"}
  = favicon_link_tag
  %title= "#{@title and "#{@title} - "}AsakusaSatellite"
 %body
  .main
   .header
    = link_to image_tag("logo.png", :alt => 'AsakusaSatellite'), {:controller => :chat}
    .contextual
     = t(:welcome_maessage) if current_user
     = link_to current_user.name, :controller => :account, :action => :index if logged?
     = link_to t(:logout), :controller => 'login', :action => 'logout' if logged?
     = login_link unless logged?
   .content
    - if flash[:error]
     .error_message= flash[:error]
    - if flash[:notice]
     .notice_message= flash[:notice]
    = yield
   .footer
    %p Copyright (C) 2011 codefirst.org. All rights reserved.

