-# -*- coding: utf-8 -*-
!!!
%html
 %head
  %meta{:charset => 'utf-8'}
  = stylesheet_link_tag 'application'
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
  = csrf_meta_tag
  = favicon_link_tag
  %title= "#{@title and "#{@title} - "}AsakusaSatellite"
 %body
  .main
   .header
    = link_to image_tag("logo.png", :alt => 'AsakusaSatellite'), {:controller => :chat}
    .contextual
     = t(:welcome_maessage) if current_user
     = link_to current_user.name, :controller => :account, :action => :index if logged?
     = button_to t(:logout),url_for(:controller => 'login', :action => 'logout'),:method=>:post,:class=>:logout if logged?
     = login_link unless logged?
   .content
    - if flash[:error]
     .error_message= flash[:error]
    - if flash[:notice]
     .notice_message= flash[:notice]
    = yield
   .footer
    %p!="Powered by #{link_to "AsakusaSatellite", :controller=>:application, :action=>:about}. Copyright (C) 2011-2012 <a href='http://codefirst.org'>codefirst.org</a>. All rights reserved."
  = javascript_include_tag "application"
  = yield :javascripts

